.footer {
  padding: 60px 0;
  background-color: black;
}
.footer-logo {
  width: 200px;
}
.footer-link {
  text-decoration: none;
  color: rgb(226, 226, 226);
  font-weight: 400;
  transition: 0.3s;
}
.footer-link:hover {
  color: crimson;
}
.footer-link-container .footer-link {
  display: block;
  margin-top: 8px;
}
.bottom-link-container {
  display: flex;
  justify-content: space-between;
}
