.login {
  background-image: url("../../images/bannerbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
.login-area {
  width: 400px;
  background-color: #fff;
  margin: auto;
  padding: 30px;
}
.login-area img {
  width: 250px;
}
.login-form input {
  display: block;
  margin-top: 15px;
  width: 100%;
}
